<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="height: auto; max-width: 30%;"/>
        <div class="header-fields" style="max-width: 30%;">
            <div>
                <label for="name">Name:</label>
                <h1 class="charname">
                    <input id="name" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                </h1>
            </div>
            <div class="resources grid grid-2col">
                <label for="hp">HP</label>
              <input id="hp" type="text" name="data.info.hp.value" value="{{data.info.hp.value}}" data-dtype="Number"/>
            </div>
            <div class="abilities grid grid-3col">{{!-- abilities here --}} I'm an ability</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
        <nav style="max-width: 60%;" class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="actions">Actions</a>
            <a class="item" data-tab="inventory">Inventory</a>
            <a class="item" data-tab="bio">Bio</a>
            <a class="item" data-tab="conditions">Conditions</a>
        </nav>

        {{!-- Tab Content --}}
        {{!-- Actions --}}
        <div class="tab actions" data-group="primary" data-tab="actions">
            <table>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Target</th>
                  <th>Range</th>
                  <th>Effect</th>
                  <th>Speed</th>
                </tr>
                <tr>
                  <td>Movement</td>
                  <td>*You cannot end your movement in an occupied square</td>
                </tr>
                <tr>
                  <td>Move Action</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>Move 1 - 5 Squares. Can move through friendly Combatants.</td>
                  <td>Slow</td>
                </tr>
                <tr>
                    <td>Shift Action</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Move 1 Square. Can move through friendly Combatants.</td>
                    <td>Fast</td>
                  </tr>
              </table>

        </div>
        {{!-- Inventory --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">

        </div>
        {{!-- Bio --}}
        <div class="tab bio" data-group="primary" data-tab="bio">
            <div style="max-width: 60%;">
                <h3>Appearance</h3>
                <h3>Description</h3>
                <input id="description" type="text" />
                <h3>History</h3>
                <input id="history" type="text" />
            </div>
            <div style="max-width: 30%;">
                <h3>Anchors</h3>
                <input type="text"/>
                <input type="text"/>
                <input type="text"/>
                <h3>Deadweights</h3>
                <input type="text"/>
                <input type="text"/>
                <input type="text"/>
            </div>
        
        </div>

        {{!-- Conditions --}}
        <div class="tab conditions" data-group="primary" data-tab="conditions">

        </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Tab content goes here --}}
    </section>
</form>
